@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root  {
    --cor-fundo:#092635;
    --cor-texto: #9EC8B9;
    --cor-forte: #5C8374;
    --cor-hover: #1B4242;
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-secundaria:
}

.cabecalho 
{
    padding: 2% 0% 0% 15%;
    
}

.cabecalho_navegacao {
    display: flex;
    gap: 80px;
}

.cabecalho_links {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-forte);
    text-decoration: none;
}

.apresentacao
{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}

body 
{
    height: 80vh;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: #F6F6F6;
    font-family: Gill Sans;
}

.apresentacao_conteudo
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_titulo
{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_texto
{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.titulo 
{
    color: var(--cor-forte);
    
}

.apresentacao_links
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao_links_subtitulo
{
    font-size: 1.5rem;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.apresentacao_links_link
{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-forte);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #F6F6F6;
    
}
.apresentacao_links_link:hover 
{
    background-color: var(--cor-hover);
}

.imagem_perfil {
   
   padding: 0 0 30% 0;
    width: 80%;

}

.rodape
{
    color: var(--cor-fundo);
    background-color: var(--cor-forte);
    font-size: 1.5rem;
    font-family: 'Monteserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 24px; 
}

@media (max-width: 1200px) {

    .cabecalho 
    {
        padding: 10%;
    }

    .cabecalho_navegacao
    {
        justify-content: center;
    }
    .apresentacao
    {
        flex-direction: column-reverse;    
        padding: 5%;
    }

    .apresentacao_conteudo {
        width: auto;
    }

    .imagem_perfil

    {
        padding: 0 0 0 25%;
        width: 50%;
        align-items: center;
       
    }
} 
